body{
  height: 100vh;
  background: url('../assets/kit.jpg') top / cover no-repeat;;
}

.container-fluid{
  width: 100wh;
  margin: 0 5%;
  font-family: Montserrat;
}

.row{
  text-align: center;
}

.hist-text{
  margin-top: 150px;
  color: white;
}

h1{
  text-align: center;
  color: white;
}

p{
  text-align: center;
  padding: 0 15%;
}

#history{
  color: #DAA520;
}

.history-images{
  position: relative;
}

.history-images{
  margin-top: 60px;
}

#myimage{
  position: absolute;;
  z-index: 3;
  top: 80px;
  left: 0px;
  bottom: -182px;
  right: 228.600px;
}

#myimage2{
  position: absolute;;
  z-index: 2;
  top: 54px;
  left: 211px;
  right: 61px;
  bottom: -219px;
}

#myimage3{
  position: absolute;;
  z-index: 3;
  top: 280px;
  left: 300px;
  right: -34px;
  bottom: -324px;
}

.number-span span:not(:last-child){
  margin-right: 100px;
}

.number-span{
  color: #DAA520;
  font-size: 36px;
}

.buttons{
  position: absolute;
  top: 320px;
  left: 230px;
}

@media (max-width:768px) {
  .buttons{
    position: absolute;
    top: 400px;
    left: 100px;
  }
  .history-images{
    display: none;
  }
  .collapse{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
}

.buttons .btn{
  border-color: white;
  color: #DAA520;
  transition: transform 0.3s;
}

.buttons .btn:hover{
  transform: scale(0.95);
}


* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  display: block;
  position: absolute;
  top: 400px;
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 100px;
  height: 100px;
  z-index: 1000;
}

.danger {
  background-color: #fbd784;
  border-left: 6px solid #f44336;
  margin-top: 300px;
}
