.header-line{
  padding-top: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item{
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;

  margin-right: 25px;

  transition: color 0.3s linear;
}

.nav-item:hover{
  color: #d81d1d;
}

.cart{
  position: relative;
  border-right: 1px solid #FFFFFF;
  padding-right: 10px;
  height: 50px;
}


.phone{
  margin-left: 50px;
}

.cart-img{
  position: absolute;
  top: 18px;
  right: 7px;
  margin-right: 5px;
}

.num{
  color: #fff;
  text-decoration: none;
  font-weight: 700;

  transition: color 0.3s linear;
}

.num:hover{
  color: #d81d1d;
}

.phone-text{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.phone-holder{
  display: flex;
  align-items: center;
}

.button{
  margin-left: 50px;
  background-color: #FF7400;
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;

  transition: background-color 0.3s linear;
}

.button:hover{
  background-color: #d81d1d;
}

.header-down{
  position: relative;
}

.header-title{
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;

  text-align: center;
  position: absolute;
  left: 0;

  margin-top: 140px;
  margin-bottom: 12px;
}

.header-suptitle{
  color: #fff;
  font-size: 18px;
}

.header-button{
  background-color: #FF7400;
  padding: 14px 28px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s linear;
}

.header-button:hover{
  background-color: #904506;
}


.header-some{
  position: absolute;
  text-align: center;
  right: 330px;
  weight: 700;
  margin-top: 490px;
  color: white;

}

.phome-holder{
  position: relative;
}


.dropdown .btn{
  color: white;
}
